/* fonts */
--heading-font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
--body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
--fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

/* colors */
--text-color: #a0aec0;
--link-color: #2997ff;
--link-hover-color: #2997ff;
--background-color: #ffffff;
--overlay-background-color: #eeeeee;
--highlight-background-color: #cccccc;

/* sizes */
--heading-font-size-xxl: 24px;
--heading-font-size-xl: 24px;
--heading-font-size-l: 18.72px;
--heading-font-size-m: 16px;
--heading-font-size-s: 13.28px;
--heading-font-size-xs: 10.72px;
--body-font-size-m: 20px;
--body-font-size-s: 18px;
--body-font-size-xs: 16px;
--body-font-size-xxs: 14px;
